In [2]:
import pandas as pd 
import re

In [3]:
df = pd.read_csv("data/ReviewsDATA.csv")

In [4]:
df.head()

   Unnamed: 0                                            reviews
0           0  ✅ Trip Verified |   I had only 1 bag with me, ...
1           1  ✅ Trip Verified | Check in and security at T5 ...
2           2  Not Verified |  LHR T5 BA Gold Wing worked wel...
3           3  Not Verified |  Very good service on this rout...
4           4  ✅ Trip Verified |   Flight mainly let down by ...

In [5]:
df.columns

Index(['Unnamed: 0', 'reviews'], dtype='object')

In [6]:
df.drop("Unnamed: 0",axis = 1,inplace = True)

In [7]:
df.sample()

                                                reviews
1842  ✅ Verified Review |  London Heathrow to Vancou...

In [8]:
s = df['reviews']
s[0]

'✅ Trip Verified |\xa0 \xa0I had only 1 bag with me, a carry on trolley. Everyone one in boarding group 3 & 4 were forced to check-in their trolley carry-ons. They asked to take out any laptops, batteries, etc.... The woman at the boarding gate was very rude to me as I was explaining to her that this was my only bag and had nowhere to carry my laptop or other stuff that I need onboard. I tried to explain to her that the bag will not withstand being carried in the hold as it is fragile and showed her a crack from the one time I checked it in before. The bag was visibly small complying with the carry-on bag measurements.'

In [9]:
df.sample()

                                                reviews
1989  ✅ Verified Review |  I am 73 years old. Was sc...

In [10]:
ver = "✅"
l =[]
arr = df['reviews']
for i in arr:
    if ver in i:
        l.append(1)
    else:
        l.append(0)
        
df['verified trip'] = l

In [11]:
df.sample(10)

                                                reviews  verified trip
2103  ✅ Verified Review | Glasgow to London Gatwick ...              1
1014  ✅ Trip Verified | My flight was cancelled 3 da...              1
1938  ✅ Verified Review |  Punta Cana to Gatwick ret...              1
708   ✅ Trip Verified |  Extremely disappointed In t...              1
635   ✅ Trip Verified |  The short haul flights were...              1
2186  ✅ Verified Review |  London Heathrow to Zurich...              1
2043  ✅ Verified Review |  Accra to London Heathrow ...              1
261   Not Verified |  Booked a very special holiday ...              0
296   ✅ Trip Verified |   Chaos at Terminal 5 with B...              1
1460  ✅ Trip Verified |  Madrid to London. The main ...              1

In [12]:
s = "❎"
ord(s)

10062

In [13]:
#df['reviews'] = rr

In [14]:
df.sample(5)

                                                reviews  verified trip
1907  ✅ Verified Review |  Flew London Heathrow to V...              1
1318  ✅ Trip Verified |  London Heathrow to New York...              1
394   ✅ Trip Verified | Had the worst experience. Th...              1
1024  ✅ Trip Verified |  London to Glasgow. BA custo...              1
840   ✅ Trip Verified |  London Heathrow to Nairobi....              1

In [15]:
import re
ptn = r'([\D]+ \|)'
r = df['reviews']
l = []
for i in r:
    #re.search(ptn,i)
    ll = re.findall(ptn,i)
    l.append(ll)

In [16]:
print(l[200:220])

[['✅ Trip Verified |'], ['✅ Trip Verified |'], ['✅ Trip Verified |'], ['✅ Trip Verified |'], ['Not Verified |'], ['✅ Trip Verified |'], ['Not Verified |'], ['✅ Trip Verified |'], ['✅ Trip Verified |'], ['Not Verified |'], ['✅ Trip Verified |'], ['Not Verified |'], ['cNot Verified |'], ['✅ Trip Verified |'], ['✅ Trip Verified |'], ['✅ Trip Verified |'], ['✅ Trip Verified |'], ['✅ Trip Verified |'], ['✅ Trip Verified |'], ['✅ Trip Verified |']]

In [17]:
rep = []
for i in r:
    i = re.sub(ptn,'',i)
    i.strip()
    rep.append(i)

In [18]:
print(len(rep))

2250

In [19]:
df['reviews'] = rep

In [20]:
df

                                                reviews  verified trip
0        I had only 1 bag with me, a carry on trolle...              1
1      Check in and security at T5 quick. Both Galle...              1
2       LHR T5 BA Gold Wing worked well. Pleasant ch...              0
3       Very good service on this route BA2710 30th ...              0
4        Flight mainly let down by a disagreeable fl...              1
...                                                 ...            ...
2245    We'd booked to fly Club World 4 months ago. ...              1
2246  Our flight from London to Boston was okay. Dis...              0
2247  London Gatwick to Valencia with British Airway...              0
2248  London to Seville via Madrid. If you want budg...              0
2249  British Airways state that you can check in fo...              0

[2250 rows x 2 columns]

In [21]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [22]:
'''plt.figure(figsize=(5,4))
p = sns.countplot(x = 'verified trip',data = df,palette = 'flare',hue = 'verified trip',legend = False)
for i in p.containers:
    p.bar_label(i)
plt.show()'''

"plt.figure(figsize=(5,4))\np = sns.countplot(x = 'verified trip',data = df,palette = 'flare',hue = 'verified trip',legend = False)\nfor i in p.containers:\n    p.bar_label(i)\nplt.show()"

In [24]:
df['reviews'][8]

'\xa0 \xa0This time British Airways managed to get everything right. The price of the tickets was reasonable and the timing was perfect. Boarding was smooth and the seats were comfortable – easy reline to enable dozing and sufficient pitch to get in and out. The table was firm enough to allow the use of a small laptop and mouse. A pre-flight soft drink or Prosecco was offered and both the food and drink were more than sufficient. The best part was the cabin crew – two in PE and they were both extremely efficient, pleasant and witty. There was a good selection of movies and both the screen and the headset worked perfectly.'

In [25]:
s = '\xa0 \xa0'
s

'\xa0 \xa0'

In [26]:
r = df['reviews']
l = []
s = '\xa0 \xa0'
for i in r:
    i = re.sub(s,'',i)
    i = re.sub('\n','',i)
    i = re.sub('\r','',i)
    i.strip()
    l.append(i)

In [27]:
len(l)

2250

In [28]:
df['reviews'] = l

In [29]:
df['reviews'][516]

'  I’ve generally been a loyal Gold status flyer with BA if they fly the route I’m after but my recent flight to Nairobi was about as abysmal as you can get. We should have departed at 10:20 but after continuous delays finally left 4.5 hours late, not ideal when you’ve then got an 8hr + flight. Staff informed us virtually as we took off that the meal and drinks service would be started and completed asap as they needed to get rest because of hours we had been delayed. They couldn’t get it out and away quickly enough. That was then basically the last you saw of them until they came around an hour or so before landing. I sincerely hope they enjoyed their rest because when you pay full fare for business class service you actually expect a service. They were all extremely miserable and clearly didn’t want to be on board. We’re still waiting for you to pay our compensation that has been awarded to us by the official ombudsman in July for the cancellation of our flight to Miami in March. This was cancelled at 3am for the 2:30 pm flight !'

In [30]:
#df.to_csv('data/BA_Cleaned_review.csv')

In [31]:
df.isna().sum()

reviews          0
verified trip    0
dtype: int64

# Sentiment Analysis(using vaderSentiment)

In [32]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer#SIA
analyzer = SentimentIntensityAnalyzer()

rev = df['reviews']
sen_lst =[]
sc = []
sentis =['very-positive','positive','neutral','negative','very-negative']
for text in rev:
    scores = analyzer.polarity_scores(text) 
    overall_sc = scores['compound']
    sc.append(overall_sc)
    if overall_sc < -0.5:
        sen_lst.append(sentis[-1])        
    elif overall_sc >= -0.5 and overall_sc < 0:
        sen_lst.append(sentis[-2])
    elif overall_sc > 0 and overall_sc <= 0.5:
        sen_lst.append(sentis[-4])
    elif overall_sc > 0.5:
        sen_lst.append(sentis[-5])
    elif overall_sc == 0:
        sen_lst.append(sentis[-3])

In [33]:
df['sentiments'] = sen_lst

In [34]:
#del df['senti-score']

In [35]:
#df['senti-score'] = sc

In [36]:
df.sample(10)

,reviews,verified trip,sentiments
979,We have had some torrid experiences with BA -...,0,very-positive
2096,We flew British Airways from Lisbon to San J...,1,very-positive
1352,Bad service and attitude all round. My fiasc...,1,very-negative
543,Flight was cancelled at the last minute due ...,0,very-negative
568,Over 1 week ago I cancelled 2 Club Europe fl...,1,positive
1250,Johannesburg to London . For supper I asked ...,1,very-positive
1783,London to Keflavik. The British Airways expe...,1,very-positive
91,My family and I were booked to leave London...,1,very-negative
1577,I was quite disappointed with my experience w...,1,very-negative
916,London to Sydney via Singapore. I would like ...,0,very-positive

In [37]:
s = df['reviews'][1317]
len(s.split())

323

In [38]:
df['sentiments'].unique()

array(['very-negative', 'very-positive', 'negative', 'neutral',
       'positive'], dtype=object)

In [39]:
df['sentiments'].value_counts()

sentiments
very-positive    951
very-negative    877
negative         225
positive         188
neutral            9
Name: count, dtype: int64

In [40]:
df.sample()

,reviews,verified trip,sentiments
2190,Check-in at Singapore Airport is carried out i...,0,very-positive

In [41]:
df.to_csv('data/BA_Cleaned_review.csv',index = False)